.container {
    width: min(100%, 1440px);
    margin: auto;

}

header {
    padding: 58px 98px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    column-gap: 50px;
}

.active {
    color: #27187F;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    text-align: left;

}

.no_active {
    color: #758BFD;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    text-align: left;
}

.search {
    border: 3px solid #758BFD;
    width: 222px;
    height: 56px;
    border-radius: 10px;
}

i {
    color: #758BFD;
    margin-block: 16px;
    margin-left: 182px;
    margin-right: 8px;
}
